# Secrets
token.env
.env
*.env

# Git
.gitignore
.gitattributes
.git/**
.github/**
.gitlab/**

# Test
test-secrets*
.vscodeignore
node_modules/**

# Source (не включаем исходники, только скомпилированные)
src/**
**/*.ts
**/*.ts.map
!out/**  # ЭТО ВАЖНО - разрешаем out папку

# Config
tsconfig.json
.vscode/**
**/tsconfig.json
**/jsconfig.json

# Docs
**/*.md
!README.md
LICENSE.txt

# Tests
test/**
**/test/**
**/*.test.js

# OS files
.DS_Store
Thumbs.db
